In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import seaborn as sns
import swifter
import qgrid
import datetime
import glob
import pandas_profiling
from dateutil.relativedelta import relativedelta

In [1]:
pwd

'/Users/rabarry/Documents/Insight/NYC data/SafeEats/notebooks'

In [2]:
cd ..

/Users/rabarry/Documents/Insight/NYC data/SafeEats

In [3]:
cd ..

/Users/rabarry/Documents/Insight/NYC data

In [5]:
glob.glob('*_NeighborhoodDataProfile.xlsx')

['BK01_NeighborhoodDataProfile.xlsx',
 'BK02_NeighborhoodDataProfile.xlsx',
 'BK03_NeighborhoodDataProfile.xlsx',
 'BK04_NeighborhoodDataProfile.xlsx',
 'BK05_NeighborhoodDataProfile.xlsx',
 'BK06_NeighborhoodDataProfile.xlsx',
 'BK07_NeighborhoodDataProfile.xlsx',
 'BK08_NeighborhoodDataProfile.xlsx',
 'BK09_NeighborhoodDataProfile.xlsx',
 'BK10_NeighborhoodDataProfile.xlsx',
 'BK11_NeighborhoodDataProfile.xlsx',
 'BK12_NeighborhoodDataProfile.xlsx',
 'BK13_NeighborhoodDataProfile.xlsx',
 'BK14_NeighborhoodDataProfile.xlsx',
 'BK15_NeighborhoodDataProfile.xlsx',
 'BK16_NeighborhoodDataProfile.xlsx',
 'BK17_NeighborhoodDataProfile.xlsx',
 'BK18_NeighborhoodDataProfile.xlsx',
 'BX01_NeighborhoodDataProfile.xlsx',
 'BX02_NeighborhoodDataProfile.xlsx',
 'BX03_NeighborhoodDataProfile.xlsx',
 'BX04_NeighborhoodDataProfile.xlsx',
 'BX05_NeighborhoodDataProfile.xlsx',
 'BX06_NeighborhoodDataProfile.xlsx',
 'BX07_NeighborhoodDataProfile.xlsx',
 'BX08_NeighborhoodDataProfile.xlsx',
 'BX09_NeighborhoodDataProfile.xlsx',
 'BX10_NeighborhoodDataProfile.xlsx',
 'BX11_NeighborhoodDataProfile.xlsx',
 'BX12_NeighborhoodDataProfile.xlsx',
 'MN01_NeighborhoodDataProfile.xlsx',
 'MN02_NeighborhoodDataProfile.xlsx',
 'MN03_NeighborhoodDataProfile.xlsx',
 'MN04_NeighborhoodDataProfile.xlsx',
 'MN05_NeighborhoodDataProfile.xlsx',
 'MN06_NeighborhoodDataProfile.xlsx',
 'MN07_NeighborhoodDataProfile.xlsx',
 'MN08_NeighborhoodDataProfile.xlsx',
 'MN09_NeighborhoodDataProfile.xlsx',
 'MN10_NeighborhoodDataProfile.xlsx',
 'MN11_NeighborhoodDataProfile.xlsx',
 'MN12_NeighborhoodDataProfile.xlsx',
 'QN01_NeighborhoodDataProfile.xlsx',
 'QN02_NeighborhoodDataProfile.xlsx',
 'QN03_NeighborhoodDataProfile.xlsx',
 'QN04_NeighborhoodDataProfile.xlsx',
 'QN05_NeighborhoodDataProfile.xlsx',
 'QN06_NeighborhoodDataProfile.xlsx',
 'QN07_NeighborhoodDataProfile.xlsx',
 'QN08_NeighborhoodDataProfile.xlsx',
 'QN09_NeighborhoodDataProfile.xlsx',
 'QN10_NeighborhoodDataProfile.xlsx',
 'QN11_NeighborhoodDataProfile.xlsx',
 'QN12_NeighborhoodDataProfile.xlsx',
 'QN13_NeighborhoodDataProfile.xlsx',
 'QN14_NeighborhoodDataProfile.xlsx',
 'SI01_NeighborhoodDataProfile.xlsx',
 'SI02_NeighborhoodDataProfile.xlsx',
 'SI03_NeighborhoodDataProfile.xlsx']

In [7]:
a = []
for n in glob.glob('*_NeighborhoodDataProfile.xlsx'):
    a.append(n[0:4])

In [102]:
sheets = [(b[0:2] + ' ' + b[2:4] + ' Data') for b in a]

In [103]:
len(sheets)
#sheets = sheets[:-1]
sheets

59

['BK 01 Data',
 'BK 02 Data',
 'BK 03 Data',
 'BK 04 Data',
 'BK 05 Data',
 'BK 06 Data',
 'BK 07 Data',
 'BK 08 Data',
 'BK 09 Data',
 'BK 10 Data',
 'BK 11 Data',
 'BK 12 Data',
 'BK 13 Data',
 'BK 14 Data',
 'BK 15 Data',
 'BK 16 Data',
 'BK 17 Data',
 'BK 18 Data',
 'BX 01 Data',
 'BX 02 Data',
 'BX 03 Data',
 'BX 04 Data',
 'BX 05 Data',
 'BX 06 Data',
 'BX 07 Data',
 'BX 08 Data',
 'BX 09 Data',
 'BX 10 Data',
 'BX 11 Data',
 'BX 12 Data',
 'MN 01 Data',
 'MN 02 Data',
 'MN 03 Data',
 'MN 04 Data',
 'MN 05 Data',
 'MN 06 Data',
 'MN 07 Data',
 'MN 08 Data',
 'MN 09 Data',
 'MN 10 Data',
 'MN 11 Data',
 'MN 12 Data',
 'QN 01 Data',
 'QN 02 Data',
 'QN 03 Data',
 'QN 04 Data',
 'QN 05 Data',
 'QN 06 Data',
 'QN 07 Data',
 'QN 08 Data',
 'QN 09 Data',
 'QN 10 Data',
 'QN 11 Data',
 'QN 12 Data',
 'QN 13 Data',
 'QN 14 Data',
 'SI 01 Data',
 'SI 02 Data',
 'SI 03 Data']

In [104]:
import xlrd
all_data = pd.DataFrame()
for f, g in zip(glob.glob('*_NeighborhoodDataProfile.xlsx'), sheets):
    df = pd.read_excel(f, sheet_name = g)
    all_data = all_data.append(df, ignore_index=True)

In [105]:
len(all_data)
all_data.columns

5074

Index([    'Community District',                   'Name',
           'Indicator Category',              'Indicator',
       ' Indicator Description',                     2000,
                           2006,                     2010,
                           2017,                     2018,
                    '2000 Rank',              '2006 Rank',
                    '2010 Rank',           '2017/18 Rank'],
      dtype='object')

In [106]:
Hoods = all_data[['Community District',  'Name','Indicator Category','Indicator',' Indicator Description',2017, '2017/18 Rank']]
Hoods = Hoods.sort_values('Community District')
Hoods.head()
Hoods.tail()

,Community District,Name,Indicator Category,Indicator,Indicator Description,2017,2017/18 Rank
0,BK 01,Greenpoint/Williamsburg,Demographics,Born in New York State,The percentage of city residents who were born...,46.7%,16.0
62,BK 01,Greenpoint/Williamsburg,Neighborhood Services and Conditions,"Serious crime rate, property (per 1,000 reside...","The number of serious property crimes, those c...",9.7,9.0
61,BK 01,Greenpoint/Williamsburg,Neighborhood Services and Conditions,"Serious crime rate (per 1,000 residents)","The number of serious crimes, those classified...",13.3,18.0
60,BK 01,Greenpoint/Williamsburg,Neighborhood Services and Conditions,Mean travel time to work (minutes),The mean commute time in minutes for commuters...,34.6,49.0
59,BK 01,Greenpoint/Williamsburg,Neighborhood Services and Conditions,Car-free commute (% of commuters),The percentage of workers who commute primaril...,84.4%,11.0

,Community District,Name,Indicator Category,Indicator,Indicator Description,2017,2017/18 Rank
5012,SI 03,Tottenville/Great Kills,Housing Market and Conditions,Rental vacancy rate,"The number of vacant, habitable, for-rent unit...",5.8%,NaN
5011,SI 03,Tottenville/Great Kills,Housing Market and Conditions,Housing units,"The number of housings units, which can includ...","58,766",24.0
5010,SI 03,Tottenville/Great Kills,Housing Market and Conditions,Homeownership rate,The number of owner-occupied units divided by ...,82.9%,1.0
5018,SI 03,Tottenville/Great Kills,Housing Market and Conditions,"Notices of foreclosure, initial, 1-4 family an...",The total number of 1-4 family properties and ...,166,8.0
5073,SI 03,Tottenville/Great Kills,Renters,Private eviction filings per 1000 private rent...,The number of eviction filings made by private...,35.1,39.0

In [107]:
Hoods['Community District'].unique()

array(['BK 01', 'BK 02', 'BK 03', 'BK 04', 'BK 05', 'BK 06', 'BK 07',
       'BK 08', 'BK 09', 'BK 10', 'BK 11', 'BK 12', 'BK 13', 'BK 14',
       'BK 15', 'BK 16', 'BK 17', 'BK 18', 'BX 01', 'BX 02', 'BX 03',
       'BX 04', 'BX 05', 'BX 06', 'BX 07', 'BX 08', 'BX 09', 'BX 10',
       'BX 11', 'BX 12', 'MN 01', 'MN 02', 'MN 03', 'MN 04', 'MN 05',
       'MN 06', 'MN 07', 'MN 08', 'MN 09', 'MN 10', 'MN 11', 'MN 12',
       'QN 01', 'QN 02', 'QN 03', 'QN 04', 'QN 05', 'QN 06', 'QN 07',
       'QN 08', 'QN 09', 'QN 10', 'QN 11', 'QN 12', 'QN 13', 'QN 14',
       'SI 01', 'SI 02', 'SI 03'], dtype=object)

In [108]:
Hoods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5074 entries, 0 to 5073
Data columns (total 7 columns):
Community District        5074 non-null object
Name                      5074 non-null object
Indicator Category        5074 non-null object
Indicator                 5074 non-null object
 Indicator Description    5074 non-null object
2017                      5024 non-null object
2017/18 Rank              4800 non-null float64
dtypes: float64(1), object(6)
memory usage: 317.1+ KB

In [109]:
Hoods_use = Hoods[Hoods['Indicator'].isin(['Population', 'Racial diversity index', 'Income diversity ratio', 'Median household income (2018$)', 'Poverty rate', 'Serious housing code violations (per 1,000 privately owned rental units)', 'Population density (1,000 persons per square mile)', 'Serious crime rate (per 1,000 residents)', 'Public housing (% of rental units)'])]

In [110]:
Hoods_use['Indicator'].value_counts()

Population                                                                  59
Serious housing code violations (per 1,000 privately owned rental units)    59
Median household income (2018$)                                             59
Income diversity ratio                                                      59
Racial diversity index                                                      59
Serious crime rate (per 1,000 residents)                                    59
Population density (1,000 persons per square mile)                          59
Poverty rate                                                                59
Public housing (% of rental units)                                          59
Name: Indicator, dtype: int64

In [111]:
Hoods_use.drop('2017/18 Rank', axis=1, inplace = True)
Hoods_use.drop(' Indicator Description', axis=1, inplace = True)
Hoods_use.drop('Indicator Category', axis=1, inplace = True)
Hoods_use['District Name'] = Hoods_use['Community District'] + ' ' + Hoods_use['Name']
Hoods_use.head()

,Community District,Name,Indicator,2017,District Name
61,BK 01,Greenpoint/Williamsburg,"Serious crime rate (per 1,000 residents)",13.3,BK 01 Greenpoint/Williamsburg
56,BK 01,Greenpoint/Williamsburg,"Population density (1,000 persons per square m...",36.8,BK 01 Greenpoint/Williamsburg
83,BK 01,Greenpoint/Williamsburg,Public housing (% of rental units),11.1%,BK 01 Greenpoint/Williamsburg
16,BK 01,Greenpoint/Williamsburg,Poverty rate,23.3%,BK 01 Greenpoint/Williamsburg
13,BK 01,Greenpoint/Williamsburg,Median household income (2018$),"$78,070",BK 01 Greenpoint/Williamsburg

In [112]:
Hoods_use.drop('Community District', axis=1, inplace=True)
Hoods_use.drop('Name', axis=1, inplace=True)
Hoods_use.head()

,Indicator,2017,District Name
61,"Serious crime rate (per 1,000 residents)",13.3,BK 01 Greenpoint/Williamsburg
56,"Population density (1,000 persons per square m...",36.8,BK 01 Greenpoint/Williamsburg
83,Public housing (% of rental units),11.1%,BK 01 Greenpoint/Williamsburg
16,Poverty rate,23.3%,BK 01 Greenpoint/Williamsburg
13,Median household income (2018$),"$78,070",BK 01 Greenpoint/Williamsburg

In [113]:
Hoods_use = Hoods_use.pivot(index = 'District Name', columns = 'Indicator', values = 2017)
Hoods_use.reset_index()
Hoods_use.head()

Indicator,District Name,Income diversity ratio,Median household income (2018$),Population,"Population density (1,000 persons per square mile)",Poverty rate,Public housing (% of rental units),Racial diversity index,"Serious crime rate (per 1,000 residents)","Serious housing code violations (per 1,000 privately owned rental units)"
0,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4
1,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2
2,BK 03 Bedford Stuyvesant,6.8,"$52,900","142,027",61.8,24.4%,18.8%,0.65,17.5,70.9
3,BK 04 Bushwick,7.0,"$51,620","140,474",55.4,27.1%,4.5%,0.63,13.8,92.7
4,BK 05 East New York/Starrett City,5.7,"$37,490","176,471",29.1,24.7%,16.7%,0.57,17.1,111.3
5,BK 06 Park Slope/Carroll Gardens,4.9,"$137,370","116,209",29.0,7.8%,12.3%,0.55,10.6,18.2
6,BK 07 Sunset Park,6.3,"$57,870","144,332",36.0,22.1%,0.0%,0.68,8.5,41.1
7,BK 08 Crown Heights/Prospect Heights,6.8,"$61,250","141,725",63.8,20.0%,10.3%,0.61,12.1,75.0
8,BK 09 South Crown Heights/Lefferts Gardens,5.3,"$52,050","113,212",66.3,19.1%,0.9%,0.56,12.4,84.7
9,BK 10 Bay Ridge/Dyker Heights,5.1,"$69,990","123,488",32.1,15.2%,0.0%,0.64,6.8,23.1
10,BK 11 Bensonhurst,4.9,"$54,510","205,850",55.7,17.3%,0.0%,0.66,6.2,22.7
11,BK 12 Borough Park,5.8,"$46,230","146,556",46.6,30.8%,0.0%,0.49,4.5,30.5
12,BK 13 Coney Island,8.2,"$36,810","122,009",35.5,24.8%,25.4%,0.63,8.4,31.6
13,BK 14 Flatbush/Midwood,5.6,"$57,680","150,707",51.8,16.8%,0.0%,0.69,8.0,72.0
14,BK 15 Sheepshead Bay,5.3,"$62,440","171,030",39.5,14.0%,7.1%,0.54,7.8,27.8
15,BK 16 Brownsville,9.7,"$20,640","111,511",43.0,39.9%,30.1%,0.45,18.4,115.0
16,BK 17 East Flatbush,5.2,"$50,290","140,087",45.5,13.7%,2.2%,0.24,12.4,103.8
17,BK 18 Flatlands/Canarsie,4.5,"$78,110","215,637",17.0,8.9%,15.5%,0.55,9.3,37.9
18,BX 01 Mott Haven/Melrose,5.9,"$21,370","156,357",31.9,44.2%,38.5%,0.47,25.6,73.9
19,BX 02 Hunts Point/Longwood,5.9,"$21,370","156,357",31.9,44.2%,3.8%,0.47,17.9,96.4
20,BX 03 Morrisania/Crotona,6.2,"$26,470","188,075",43.0,35.8%,26.6%,0.51,16.9,94.1
21,BX 04 Highbridge/Concourse,5.6,"$31,490","149,710",75.0,36.4%,3.6%,0.45,14.6,120.2
22,BX 05 Fordham/University Heights,5.8,"$30,740","148,339",98.2,36.4%,11.9%,0.43,13.8,125.4
23,BX 06 Belmont/East Tremont,6.2,"$26,470","188,075",43.0,35.8%,3.6%,0.51,17.5,107.2
24,BX 07 Kingsbridge Heights/Bedford,5.7,"$36,030","143,540",91.5,32.9%,0.5%,0.43,12.5,96.9
25,BX 08 Riverdale/Fieldston,6.2,"$55,020","113,242",33.1,18.5%,4.6%,0.65,9.5,60.5
26,BX 09 Parkchester/Soundview,6.1,"$40,770","187,975",42.5,24.7%,39.8%,0.59,11.8,78.2
27,BX 10 Throgs Neck/Co-op City,5.8,"$60,660","113,395",12.2,10.2%,13.6%,0.69,8.7,29.6
28,BX 11 Morris Park/Bronxdale,4.7,"$48,930","120,116",31.5,16.4%,52.5%,0.70,10.7,48.3
29,BX 12 Williamsbridge/Baychester,5.0,"$59,890","150,411",22.3,14.6%,11.0%,0.49,15.7,93.0
30,MN 01 Financial District,6.6,"$147,640","148,982",51.4,8.8%,0.0%,0.45,17.9,3.2
31,MN 02 Greenwich Village/Soho,6.6,"$147,640","148,982",51.4,8.8%,0.0%,0.45,25.7,22.2
32,MN 03 Lower East Side/Chinatown,8.5,"$40,340","160,490",92.0,27.3%,24.0%,0.71,14.3,38.0
33,MN 04 Clinton/Chelsea,7.5,"$103,930","152,455",49.6,13.8%,3.7%,0.59,23.5,17.5
34,MN 05 Midtown,7.5,"$103,930","152,455",49.6,13.8%,0.0%,0.59,90.3,8.6
35,MN 06 Stuyvesant Town/Turtle Bay,5.9,"$114,530","149,674",92.3,8.0%,0.9%,0.50,11.2,9.2
36,MN 07 Upper West Side,9.2,"$126,260","207,134",69.9,9.9%,8.8%,0.49,9.3,24.1
37,MN 08 Upper East Side,5.2,"$133,850","214,219",107.8,6.1%,3.2%,0.42,8.8,14.8
38,MN 09 Morningside Heights/Hamilton,8.2,"$51,000","136,017",80.7,22.7%,10.8%,0.73,11.4,106.7
39,MN 10 Central Harlem,9.3,"$49,990","147,442",103.1,23.5%,16.6%,0.63,16.8,73.0
40,MN 11 East Harlem,6.5,"$37,470","128,316",55.3,31.5%,35.7%,0.64,16.1,73.4
41,MN 12 Washington Heights/Inwood,5.7,"$57,460","219,998",75.1,18.7%,3.6%,0.50,10.6,116.0
42,QN 01 Astoria,4.8,"$67,650","164,321",31.9,13.0%,10.3%,0.68,8.1,12.2
43,QN 02 Woodside/Sunnyside,4.4,"$68,640","133,822",22.3,9.3%,0.0%,0.68,8.6,11.8
44,QN 03 Jackson Heights,3.4,"$57,680","170,222",40.7,13.5%,0.0%,0.56,10.6,23.8
45,QN 04 Elmhurst/Corona,4.0,"$52,980","146,301",40.6,15.6%,0.0%,0.58,7.5,19.2
46,QN 05 Ridgewood/Maspeth,4.3,"$72,590","199,043",27.2,8.4%,0.0%,0.59,7.5,17.7
47,QN 06 Rego Park/Forest Hills,5.3,"$76,890","118,922",42.4,8.1%,0.0%,0.66,5.5,11.9
48,QN 07 Flushing/Whitestone,6.0,"$52,260","260,282",22.1,16.2%,2.5%,0.61,7.1,13.6
49,QN 08 Hillcrest/Fresh Meadows,4.5,"$65,230","164,291",22.0,12.3%,9.4%,0.74,7.1,19.2
50,QN 09 Kew Gardens/Woodhaven,4.2,"$71,250","152,283",32.1,12.2%,0.0%,0.72,6.3,25.7
51,QN 10 South Ozone Park/Howard Beach,4.1,"$75,300","139,323",22.7,10.4%,1.3%,0.80,10.3,25.9
52,QN 11 Bayside/Little Neck,4.5,"$71,490","118,670",12.8,9.8%,0.0%,0.63,6.3,6.5
53,QN 12 Jamaica/Hollis,4.3,"$62,850","249,331",26.8,11.3%,8.5%,0.60,12.4,43.1
54,QN 13 Queens Village,4.2,"$87,490","208,786",10.6,8.9%,8.2%,0.65,8.8,30.1
55,QN 14 Rockaway/Broad Channel,6.0,"$55,040","133,051",11.8,19.8%,15.1%,0.69,10.8,32.5
56,SI 01 St. George/Stapleton,6.9,"$64,070","176,632",12.6,17.9%,11.9%,0.71,8.9,45.9
57,SI 02 South Beach/Willowbrook,5.0,"$83,040","143,766",6.1,10.2%,10.9%,0.55,5.0,8.3
58,SI 03 Tottenville/Great Kills,5.4,"$98,640","159,060",7.7,6.6%,0.0%,0.31,3.1,4.8

Indicator,Income diversity ratio,Median household income (2018$),Population,"Population density (1,000 persons per square mile)",Poverty rate,Public housing (% of rental units),Racial diversity index,"Serious crime rate (per 1,000 residents)","Serious housing code violations (per 1,000 privately owned rental units)"
District Name,,,,,,,,,
BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4
BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2
BK 03 Bedford Stuyvesant,6.8,"$52,900","142,027",61.8,24.4%,18.8%,0.65,17.5,70.9
BK 04 Bushwick,7.0,"$51,620","140,474",55.4,27.1%,4.5%,0.63,13.8,92.7
BK 05 East New York/Starrett City,5.7,"$37,490","176,471",29.1,24.7%,16.7%,0.57,17.1,111.3

In [114]:
Hoods_use = Hoods_use.reset_index()
Hoods_use.columns

Index(['District Name', 'Income diversity ratio',
       'Median household income (2018$)', 'Population',
       'Population density (1,000 persons per square mile)', 'Poverty rate',
       'Public housing (% of rental units)', 'Racial diversity index',
       'Serious crime rate (per 1,000 residents)',
       'Serious housing code violations (per 1,000 privately owned rental units)'],
      dtype='object', name='Indicator')

In [133]:
Hoods_use['Name'] = [row[6:] for row in Hoods_use['District Name']]
Hoods_use.head()

Indicator,Name,District Name,Income diversity ratio,Median household income (2018$),Population,"Population density (1,000 persons per square mile)",Poverty rate,Public housing (% of rental units),Racial diversity index,"Serious crime rate (per 1,000 residents)","Serious housing code violations (per 1,000 privately owned rental units)"
0,Greenpoint/Williamsburg,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4
1,Fort Greene/Brooklyn Heights,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2
2,Bedford Stuyvesant,BK 03 Bedford Stuyvesant,6.8,"$52,900","142,027",61.8,24.4%,18.8%,0.65,17.5,70.9
3,Bushwick,BK 04 Bushwick,7.0,"$51,620","140,474",55.4,27.1%,4.5%,0.63,13.8,92.7
4,East New York/Starrett City,BK 05 East New York/Starrett City,5.7,"$37,490","176,471",29.1,24.7%,16.7%,0.57,17.1,111.3

In [116]:
zipcodes = pd.read_csv('ZipCodes.csv')
zipcodes.head()

     zip               neighborhood
0  10001            Clinton/Chelsea
1  10002  Lower East Side/Chinatown
2  10004         Financial District
3  10005         Financial District
4  10006         Financial District

In [124]:
zupcodes = zipcodes.set_index('neighborhood')
Hoods_use = Hoods_use.set_index('Name')

In [134]:
Hoods_zip = pd.merge(Hoods_use, zipcodes, how = 'left', left_on = 'Name', right_on = 'neighborhood')

In [135]:
Hoods_zip.head()

,Name,District Name,Income diversity ratio,Median household income (2018$),Population,"Population density (1,000 persons per square mile)",Poverty rate,Public housing (% of rental units),Racial diversity index,"Serious crime rate (per 1,000 residents)","Serious housing code violations (per 1,000 privately owned rental units)",zip,neighborhood
0,Greenpoint/Williamsburg,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4,11211,Greenpoint/Williamsburg
1,Greenpoint/Williamsburg,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4,11249,Greenpoint/Williamsburg
2,Fort Greene/Brooklyn Heights,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11201,Fort Greene/Brooklyn Heights
3,Fort Greene/Brooklyn Heights,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11205,Fort Greene/Brooklyn Heights
4,Fort Greene/Brooklyn Heights,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11217,Fort Greene/Brooklyn Heights

In [136]:
Hoods_zip = Hoods_zip.drop('neighborhood', axis=1)
Hoods_zip = Hoods_zip.drop('Name', axis=1)
Hoods_zip.head()

,District Name,Income diversity ratio,Median household income (2018$),Population,"Population density (1,000 persons per square mile)",Poverty rate,Public housing (% of rental units),Racial diversity index,"Serious crime rate (per 1,000 residents)","Serious housing code violations (per 1,000 privately owned rental units)",zip
0,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4,11211
1,BK 01 Greenpoint/Williamsburg,7.7,"$78,070","152,002",36.8,23.3%,11.1%,0.53,13.3,24.4,11249
2,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11201
3,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11205
4,BK 02 Fort Greene/Brooklyn Heights,6.1,"$94,330","135,444",43.5,14.9%,11.1%,0.68,19.5,17.2,11217

In [147]:
Hoods_zip.to_csv(r'Hoods_zip.csv')