In [1]:
pwd

'/Users/rabarry/Documents/Insight/NYC data/SafeEats/notebooks'

In [2]:
cd ..

/Users/rabarry/Documents/Insight/NYC data/SafeEats

In [3]:
cd /Users/rabarry/Documents/Insight/NYC data/SafeEats/data/raw data

/Users/rabarry/Documents/Insight/NYC data/SafeEats/data/raw data

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import seaborn as sns
import swifter
import datetime
from dateutil.relativedelta import relativedelta

In [5]:
Yelp1 = pd.read_csv('yelp_data1.csv')

/anaconda3/envs/insight/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,1,2,3,4,5,6,9,11,12,13,14,15,16,17,18,19,20,21,22,23,25,27,30,31,32,33,34,35,36,37,38,39,40,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,61,64,65,66,67,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,98,99,100,101,102,103,104,105,106,107,108,111,113,114,115,116,117,118,119,120,121,122,123,124,125,127,129,132,133,134,135,136,137,138,139,140,141,142,145,147,148,149,150,151,152,153,154,155,156,157,158,159,161,163,166,167,168,169,170,171,172,173,174,175,176,177,178,179,181,182,183,184,185,186,187,188,189,190,191,192,193,195,197,200,201,202,203,204,205,206,207,208,209,210,213,215,216,217,218,219,220,221,222,223,224,225,226,227,229,231,234,235,236,237,238,239,240,241,242,243,244,245,246,249,251,252,253,254,255,256,257,258,259,260,261,262,263,265,267,270,271,272,273,274,275,276,277,278,279,280,283,285,286,287,288,289,290,291,292,293,294,295,296,297,299,301,304,305,306,307,308,309,310,311,312,313,314,317,319,320,321,322,323,324,325,326,327,328,329,330,331,333,335,338,339,340,341,342,343,344,345,346,347,348,349,350,353,355,356,357,358,359,360,361,362,363,364,365,366,367,369,371,374,375,376,377,378,379,380,381,382,383,384,387,389,390,391,392,393,394,395,396,397,398,399,400,401,403,405,408,409,410,411,412,413,414,415,416,417,418,421,423,424,425,426,427,428,429,430,431,432,433,434,435,437,439,442,443,444,445,446,447,448,449,450,451,452,453,454,457,459,460,461,462,463,464,465,466,467,468,469,470,471,473,475,478,479,480,481,482,483,484,485,486,487,488,489,490,493,495,496,497,498,499,500,501,502,503,504,505,506,507,509,511,514,515,516,517,518,519,520,521,522,523,524,527,529,530,531,532,533,534,535,536,537,538,539,540,541,543,545,548,549,550,551,552,553,554,555,556,557,558,561,563,564,565,566,567,568,569,570,571,572,573,574,575,577,579,582,583,584,585,586,587,588,589,590,591,592,593,594,597,599,600,601,602,603,604,605,606,607,608,609,610,611,613,615,618,619,620,621,622,623,624,625,626,627,628,631,633,634,635,636,637,638,639,640,641,642,643,644,645,647,649,652,653,654,655,656,657,658,659,660,661,662,665,667,668,669,670,671,672,673,674,675,676,677,678,679,681,683,686,687,688,689) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
Yelp1.head()
len(Yelp1)

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_coordinates_latitude,businesses_businesses_0_coordinates_longitude,businesses_businesses_0_display_phone,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
0,brooklyn-sweet-spot-brooklyn-2,bakeries,Bakeries,desserts,Desserts,cupcakes,Cupcakes,40.693026,-73.971547,(347) 916-0494,...,156.0,NaN,NaN,NaN,https://www.yelp.com/biz/hungry-ghost-brooklyn...,NaN,NaN,40.693184,-73.971562,616.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.760899,-122.436447,0.0
2,kingsbridge-donut-shop-bronx,donuts,Donuts,breakfast_brunch,Breakfast & Brunch,NaN,NaN,40.879800,-73.906230,(347) 346-4171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.878731,-73.917529,4.0
3,casa-mexicana-new-york-2,mexican,Mexican,NaN,NaN,NaN,NaN,40.798989,-73.966955,(212) 222-3151,...,15.0,pickup,delivery,NaN,https://www.yelp.com/biz/el-jalapenos-bronx-3?...,NaN,NaN,40.799035,-73.966742,92.0
4,the-palm-court-new-york,newamerican,American (New),tea,Tea Rooms,breakfast_brunch,Breakfast & Brunch,40.764228,-73.974215,(212) 546-5300,...,1469.0,NaN,NaN,NaN,https://www.yelp.com/biz/ladur%C3%A9e-soho-new...,NaN,NaN,40.764148,-73.973951,86.0

9458

Remove rows where zero businesses were returned

In [6]:
Yelp1 = Yelp1[Yelp1["businesses_total"]!=0]
len(Yelp1)

9246

Only keep rows without error codes

In [7]:
Yelp1 = Yelp1[Yelp1["businesses_error_code"].isnull()]
len(Yelp1)
Yelp1.head()

4780

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_coordinates_latitude,businesses_businesses_0_coordinates_longitude,businesses_businesses_0_display_phone,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
0,brooklyn-sweet-spot-brooklyn-2,bakeries,Bakeries,desserts,Desserts,cupcakes,Cupcakes,40.693026,-73.971547,(347) 916-0494,...,156.0,NaN,NaN,NaN,https://www.yelp.com/biz/hungry-ghost-brooklyn...,NaN,NaN,40.693184,-73.971562,616.0
2,kingsbridge-donut-shop-bronx,donuts,Donuts,breakfast_brunch,Breakfast & Brunch,NaN,NaN,40.879800,-73.906230,(347) 346-4171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.878731,-73.917529,4.0
3,casa-mexicana-new-york-2,mexican,Mexican,NaN,NaN,NaN,NaN,40.798989,-73.966955,(212) 222-3151,...,15.0,pickup,delivery,NaN,https://www.yelp.com/biz/el-jalapenos-bronx-3?...,NaN,NaN,40.799035,-73.966742,92.0
4,the-palm-court-new-york,newamerican,American (New),tea,Tea Rooms,breakfast_brunch,Breakfast & Brunch,40.764228,-73.974215,(212) 546-5300,...,1469.0,NaN,NaN,NaN,https://www.yelp.com/biz/ladur%C3%A9e-soho-new...,NaN,NaN,40.764148,-73.973951,86.0
5,dominique-ansel-bakery-new-york,bakeries,Bakeries,desserts,Desserts,NaN,NaN,40.725220,-74.002910,(212) 219-2773,...,264.0,delivery,pickup,NaN,https://www.yelp.com/biz/pi-bakerie-new-york-2...,NaN,NaN,40.726745,-74.002121,539.0

In [18]:
Yelp1.columns[0:35]

Index(['businesses_businesses_0_alias',
       'businesses_businesses_0_categories_0_alias',
       'businesses_businesses_0_categories_0_title',
       'businesses_businesses_0_categories_1_alias',
       'businesses_businesses_0_categories_1_title',
       'businesses_businesses_0_categories_2_alias',
       'businesses_businesses_0_categories_2_title',
       'businesses_businesses_0_coordinates_latitude',
       'businesses_businesses_0_coordinates_longitude',
       'businesses_businesses_0_display_phone',
       'businesses_businesses_0_distance', 'businesses_businesses_0_id',
       'businesses_businesses_0_image_url',
       'businesses_businesses_0_is_closed',
       'businesses_businesses_0_location_address1',
       'businesses_businesses_0_location_address2',
       'businesses_businesses_0_location_address3',
       'businesses_businesses_0_location_city',
       'businesses_businesses_0_location_country',
       'businesses_businesses_0_location_display_address_0',
       'businesses_businesses_0_location_display_address_1',
       'businesses_businesses_0_location_display_address_2',
       'businesses_businesses_0_location_display_address_3',
       'businesses_businesses_0_location_state',
       'businesses_businesses_0_location_zip_code',
       'businesses_businesses_0_name', 'businesses_businesses_0_phone',
       'businesses_businesses_0_price', 'businesses_businesses_0_rating',
       'businesses_businesses_0_review_count',
       'businesses_businesses_0_transactions_0',
       'businesses_businesses_0_transactions_1',
       'businesses_businesses_0_transactions_2', 'businesses_businesses_0_url',
       'businesses_businesses_10_alias'],
      dtype='object')

Split up into results #

In [8]:
Yelp1_0 = Yelp1[['businesses_businesses_0_alias',
       'businesses_businesses_0_categories_0_alias',
       'businesses_businesses_0_categories_0_title',
       'businesses_businesses_0_categories_1_alias',
       'businesses_businesses_0_categories_1_title',
       'businesses_businesses_0_categories_2_alias',
       'businesses_businesses_0_categories_2_title',
       'businesses_businesses_0_coordinates_latitude',
       'businesses_businesses_0_coordinates_longitude',
       'businesses_businesses_0_display_phone',
       'businesses_businesses_0_distance', 'businesses_businesses_0_id',
       'businesses_businesses_0_image_url',
       'businesses_businesses_0_is_closed',
       'businesses_businesses_0_location_address1',
       'businesses_businesses_0_location_address2',
       'businesses_businesses_0_location_address3',
       'businesses_businesses_0_location_city',
       'businesses_businesses_0_location_country',
       'businesses_businesses_0_location_display_address_0',
       'businesses_businesses_0_location_display_address_1',
       'businesses_businesses_0_location_display_address_2',
       'businesses_businesses_0_location_state',
       'businesses_businesses_0_location_zip_code',
       'businesses_businesses_0_name', 'businesses_businesses_0_phone',
       'businesses_businesses_0_price', 'businesses_businesses_0_rating',
       'businesses_businesses_0_review_count',
       'businesses_businesses_0_transactions_0',
       'businesses_businesses_0_transactions_1',
       'businesses_businesses_0_transactions_2', 'businesses_businesses_0_url'
                ]]

In [9]:
Yelp1_1 = Yelp1[['businesses_businesses_1_alias',
       'businesses_businesses_1_categories_0_alias',
       'businesses_businesses_1_categories_0_title',
       'businesses_businesses_1_categories_1_alias',
       'businesses_businesses_1_categories_1_title',
       'businesses_businesses_1_categories_2_alias',
       'businesses_businesses_1_categories_2_title',
       'businesses_businesses_1_coordinates_latitude',
       'businesses_businesses_1_coordinates_longitude',
       'businesses_businesses_1_display_phone',
       'businesses_businesses_1_distance', 
       'businesses_businesses_1_id',
       'businesses_businesses_1_image_url',
       'businesses_businesses_1_is_closed',
       'businesses_businesses_1_location_address1',
       'businesses_businesses_1_location_address2',
       'businesses_businesses_1_location_address3',
       'businesses_businesses_1_location_city',
       'businesses_businesses_1_location_country',
       'businesses_businesses_1_location_display_address_0',
       'businesses_businesses_1_location_display_address_1',
       'businesses_businesses_1_location_display_address_2',
       'businesses_businesses_1_location_state',
       'businesses_businesses_1_location_zip_code',
       'businesses_businesses_1_name', 
       'businesses_businesses_1_phone',
       'businesses_businesses_1_price', 
       'businesses_businesses_1_rating',
       'businesses_businesses_1_review_count',
       'businesses_businesses_1_transactions_0',
       'businesses_businesses_1_transactions_1',
       'businesses_businesses_1_transactions_2', 
       'businesses_businesses_1_url'
                ]]

In [10]:
Yelp1_2 = Yelp1[['businesses_businesses_2_alias',
       'businesses_businesses_2_categories_0_alias',
       'businesses_businesses_2_categories_0_title',
       'businesses_businesses_2_categories_1_alias',
       'businesses_businesses_2_categories_1_title',
       'businesses_businesses_2_categories_2_alias',
       'businesses_businesses_2_categories_2_title',
       'businesses_businesses_2_coordinates_latitude',
       'businesses_businesses_2_coordinates_longitude',
       'businesses_businesses_2_display_phone',
       'businesses_businesses_2_distance', 
       'businesses_businesses_2_id',
       'businesses_businesses_2_image_url',
       'businesses_businesses_2_is_closed',
       'businesses_businesses_2_location_address1',
       'businesses_businesses_2_location_address2',
       'businesses_businesses_2_location_address3',
       'businesses_businesses_2_location_city',
       'businesses_businesses_2_location_country',
       'businesses_businesses_2_location_display_address_0',
       'businesses_businesses_2_location_display_address_1',
       'businesses_businesses_2_location_display_address_2',
       'businesses_businesses_2_location_state',
       'businesses_businesses_2_location_zip_code',
       'businesses_businesses_2_name', 
       'businesses_businesses_2_phone',
       'businesses_businesses_2_price', 
       'businesses_businesses_2_rating',
       'businesses_businesses_2_review_count',
       'businesses_businesses_2_transactions_0',
       'businesses_businesses_2_transactions_1',
       'businesses_businesses_2_transactions_2', 
       'businesses_businesses_2_url'
                ]]

In [11]:
Yelp1_3 = Yelp1[['businesses_businesses_3_alias',
       'businesses_businesses_3_categories_0_alias',
       'businesses_businesses_3_categories_0_title',
       'businesses_businesses_3_categories_1_alias',
       'businesses_businesses_3_categories_1_title',
       'businesses_businesses_3_categories_2_alias',
       'businesses_businesses_3_categories_2_title',
       'businesses_businesses_3_coordinates_latitude',
       'businesses_businesses_3_coordinates_longitude',
       'businesses_businesses_3_display_phone',
       'businesses_businesses_3_distance', 
       'businesses_businesses_3_id',
       'businesses_businesses_3_image_url',
       'businesses_businesses_3_is_closed',
       'businesses_businesses_3_location_address1',
       'businesses_businesses_3_location_address2',
       'businesses_businesses_3_location_address3',
       'businesses_businesses_3_location_city',
       'businesses_businesses_3_location_country',
       'businesses_businesses_3_location_display_address_0',
       'businesses_businesses_3_location_display_address_1',
       'businesses_businesses_3_location_display_address_2',
       'businesses_businesses_3_location_state',
       'businesses_businesses_3_location_zip_code',
       'businesses_businesses_3_name', 
       'businesses_businesses_3_phone',
       'businesses_businesses_3_price', 
       'businesses_businesses_3_rating',
       'businesses_businesses_3_review_count',
       'businesses_businesses_3_transactions_0',
       'businesses_businesses_3_transactions_1',
       'businesses_businesses_3_transactions_2', 
       'businesses_businesses_3_url'
                ]]

Include the result num

In [13]:
Yelp1_0['Result_num']=0;
Yelp1_1['Result_num']=1;
Yelp1_2['Result_num']=2;
Yelp1_3['Result_num']=3;

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Rename columns (Did this for all 4)

In [18]:
Yelp1_4.columns = [['yelp_alias',
       'yelp_categories_0_alias',
       'yelp_categories_0_title',
       'yelp_categories_1_alias',
       'yelp_categories_1_title',
       'yelp_categories_2_alias',
       'yelp_categories_2_title',
       'yelp_coordinates_latitude',
       'yelp_coordinates_longitude',
       'yelp_display_phone',
       'yelp_distance', 
       'yelp_id',
       'yelp_image_url',
       'yelp_is_closed',
       'yelp_location_address1',
       'yelp_location_address2',
       'yelp_location_address3',
       'yelp_location_city',
       'yelp_location_country',
       'yelp_location_display_address_0',
       'yelp_location_display_address_1',
       'yelp_location_display_address_2',
       'yelp_location_state',
       'yelp_location_zip_code',
       'yelp_name', 
       'yelp_phone',
       'yelp_price', 
       'yelp_rating',
       'yelp_review_count',
       'yelp_transactions_0',
       'yelp_transactions_1',
       'yelp_transactions_2', 
       'yelp_url',
       'yelp_result_num'
                ]]

NameError: name 'Yelp1_4' is not defined

In [19]:
Yelp1_top4 = Yelp1_0.copy()
type(Yelp1_top4)
len(Yelp1_top4)

pandas.core.frame.DataFrame

4780

Append datasets

In [20]:
Yelp1_top4 = Yelp1_top4.append(Yelp1_1);
len(Yelp1_top4)

9560

In [21]:
Yelp1_top4 = Yelp1_top4.append(Yelp1_2);
len(Yelp1_top4)

14340

In [22]:
Yelp1_top4 = Yelp1_top4.append(Yelp1_3);
len(Yelp1_top4)

19120

Repeat the steps on the 2nd part of the Yelp data dump

In [23]:
Yelp = pd.read_csv('yelp_data.csv')

/anaconda3/envs/insight/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (7,8,9,10,24,58,60,77,78,92,111,112,126,145,146,147,148,162,164,181,182,183,184,198,200,217,218,219,220,234,268,287,288,304,338,357,358,374,393,394,410,429,430,446,465,466,482,501,502,518,537,538,554,573,574,590,609,610,626,645,646,647,648,662,681,682,698,710,711) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
Yelp.head()
len(Yelp)

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_categories_3_alias,businesses_businesses_0_categories_3_title,businesses_businesses_0_coordinates_latitude,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.702755,-73.986681,0.0
1,dunkin-donuts-baskin-robbins-jamaica-2,desserts,Desserts,NaN,NaN,NaN,NaN,NaN,NaN,40.7064,...,24.0,delivery,NaN,NaN,https://www.yelp.com/biz/dunkin-rego-park-2?ad...,NaN,NaN,40.733386,-73.849849,103.0
2,fonda-chelsea-new-york-2,mexican,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,40.7455,...,604.0,delivery,pickup,NaN,https://www.yelp.com/biz/mayamezcal-new-york-2...,NaN,NaN,40.745544,-74.002025,30.0
3,konditori-new-york-3,coffee,Coffee & Tea,NaN,NaN,NaN,NaN,NaN,NaN,40.7251,...,58.0,NaN,NaN,NaN,https://www.yelp.com/biz/everyman-espresso-bro...,NaN,NaN,40.725058,-73.951540,41.0
4,coney-island-taste-brooklyn,latin,Latin American,peruvian,Peruvian,NaN,NaN,NaN,NaN,40.5939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.593924,-73.960871,6.0

20691

Remove rows where zero businesses were returned

In [24]:
Yelp = Yelp[Yelp["businesses_total"]!=0]
len(Yelp)

19728

Only keep rows without error codes

In [25]:
Yelp = Yelp[Yelp["businesses_error_code"].isnull()]
len(Yelp)
Yelp.head()

19718

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_categories_3_alias,businesses_businesses_0_categories_3_title,businesses_businesses_0_coordinates_latitude,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
1,dunkin-donuts-baskin-robbins-jamaica-2,desserts,Desserts,NaN,NaN,NaN,NaN,NaN,NaN,40.7064,...,24.0,delivery,NaN,NaN,https://www.yelp.com/biz/dunkin-rego-park-2?ad...,NaN,NaN,40.733386,-73.849849,103.0
2,fonda-chelsea-new-york-2,mexican,Mexican,NaN,NaN,NaN,NaN,NaN,NaN,40.7455,...,604.0,delivery,pickup,NaN,https://www.yelp.com/biz/mayamezcal-new-york-2...,NaN,NaN,40.745544,-74.002025,30.0
3,konditori-new-york-3,coffee,Coffee & Tea,NaN,NaN,NaN,NaN,NaN,NaN,40.7251,...,58.0,NaN,NaN,NaN,https://www.yelp.com/biz/everyman-espresso-bro...,NaN,NaN,40.725058,-73.951540,41.0
4,coney-island-taste-brooklyn,latin,Latin American,peruvian,Peruvian,NaN,NaN,NaN,NaN,40.5939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.593924,-73.960871,6.0
5,xian-famous-foods-new-york-38,chinese,Chinese,noodles,Noodles,burgers,Burgers,NaN,NaN,40.772,...,341.0,delivery,pickup,NaN,https://www.yelp.com/biz/pinch-chinese-new-yor...,NaN,NaN,40.794220,-73.944819,30.0

Split up into results #

In [26]:
Yelp_0 = Yelp[['businesses_businesses_0_alias',
       'businesses_businesses_0_categories_0_alias',
       'businesses_businesses_0_categories_0_title',
       'businesses_businesses_0_categories_1_alias',
       'businesses_businesses_0_categories_1_title',
       'businesses_businesses_0_categories_2_alias',
       'businesses_businesses_0_categories_2_title',
       'businesses_businesses_0_coordinates_latitude',
       'businesses_businesses_0_coordinates_longitude',
       'businesses_businesses_0_display_phone',
       'businesses_businesses_0_distance', 'businesses_businesses_0_id',
       'businesses_businesses_0_image_url',
       'businesses_businesses_0_is_closed',
       'businesses_businesses_0_location_address1',
       'businesses_businesses_0_location_address2',
       'businesses_businesses_0_location_address3',
       'businesses_businesses_0_location_city',
       'businesses_businesses_0_location_country',
       'businesses_businesses_0_location_display_address_0',
       'businesses_businesses_0_location_display_address_1',
       'businesses_businesses_0_location_display_address_2',
       'businesses_businesses_0_location_state',
       'businesses_businesses_0_location_zip_code',
       'businesses_businesses_0_name', 'businesses_businesses_0_phone',
       'businesses_businesses_0_price', 'businesses_businesses_0_rating',
       'businesses_businesses_0_review_count',
       'businesses_businesses_0_transactions_0',
       'businesses_businesses_0_transactions_1',
       'businesses_businesses_0_transactions_2', 'businesses_businesses_0_url'
                ]]

In [27]:
Yelp_1 = Yelp[['businesses_businesses_1_alias',
       'businesses_businesses_1_categories_0_alias',
       'businesses_businesses_1_categories_0_title',
       'businesses_businesses_1_categories_1_alias',
       'businesses_businesses_1_categories_1_title',
       'businesses_businesses_1_categories_2_alias',
       'businesses_businesses_1_categories_2_title',
       'businesses_businesses_1_coordinates_latitude',
       'businesses_businesses_1_coordinates_longitude',
       'businesses_businesses_1_display_phone',
       'businesses_businesses_1_distance', 
       'businesses_businesses_1_id',
       'businesses_businesses_1_image_url',
       'businesses_businesses_1_is_closed',
       'businesses_businesses_1_location_address1',
       'businesses_businesses_1_location_address2',
       'businesses_businesses_1_location_address3',
       'businesses_businesses_1_location_city',
       'businesses_businesses_1_location_country',
       'businesses_businesses_1_location_display_address_0',
       'businesses_businesses_1_location_display_address_1',
       'businesses_businesses_1_location_display_address_2',
       'businesses_businesses_1_location_state',
       'businesses_businesses_1_location_zip_code',
       'businesses_businesses_1_name', 
       'businesses_businesses_1_phone',
       'businesses_businesses_1_price', 
       'businesses_businesses_1_rating',
       'businesses_businesses_1_review_count',
       'businesses_businesses_1_transactions_0',
       'businesses_businesses_1_transactions_1',
       'businesses_businesses_1_transactions_2', 
       'businesses_businesses_1_url'
                ]]

In [28]:
Yelp_2 = Yelp[['businesses_businesses_2_alias',
       'businesses_businesses_2_categories_0_alias',
       'businesses_businesses_2_categories_0_title',
       'businesses_businesses_2_categories_1_alias',
       'businesses_businesses_2_categories_1_title',
       'businesses_businesses_2_categories_2_alias',
       'businesses_businesses_2_categories_2_title',
       'businesses_businesses_2_coordinates_latitude',
       'businesses_businesses_2_coordinates_longitude',
       'businesses_businesses_2_display_phone',
       'businesses_businesses_2_distance', 
       'businesses_businesses_2_id',
       'businesses_businesses_2_image_url',
       'businesses_businesses_2_is_closed',
       'businesses_businesses_2_location_address1',
       'businesses_businesses_2_location_address2',
       'businesses_businesses_2_location_address3',
       'businesses_businesses_2_location_city',
       'businesses_businesses_2_location_country',
       'businesses_businesses_2_location_display_address_0',
       'businesses_businesses_2_location_display_address_1',
       'businesses_businesses_2_location_display_address_2',
       'businesses_businesses_2_location_state',
       'businesses_businesses_2_location_zip_code',
       'businesses_businesses_2_name', 
       'businesses_businesses_2_phone',
       'businesses_businesses_2_price', 
       'businesses_businesses_2_rating',
       'businesses_businesses_2_review_count',
       'businesses_businesses_2_transactions_0',
       'businesses_businesses_2_transactions_1',
       'businesses_businesses_2_transactions_2', 
       'businesses_businesses_2_url'
                ]]

In [29]:
Yelp_3 = Yelp[['businesses_businesses_3_alias',
       'businesses_businesses_3_categories_0_alias',
       'businesses_businesses_3_categories_0_title',
       'businesses_businesses_3_categories_1_alias',
       'businesses_businesses_3_categories_1_title',
       'businesses_businesses_3_categories_2_alias',
       'businesses_businesses_3_categories_2_title',
       'businesses_businesses_3_coordinates_latitude',
       'businesses_businesses_3_coordinates_longitude',
       'businesses_businesses_3_display_phone',
       'businesses_businesses_3_distance', 
       'businesses_businesses_3_id',
       'businesses_businesses_3_image_url',
       'businesses_businesses_3_is_closed',
       'businesses_businesses_3_location_address1',
       'businesses_businesses_3_location_address2',
       'businesses_businesses_3_location_address3',
       'businesses_businesses_3_location_city',
       'businesses_businesses_3_location_country',
       'businesses_businesses_3_location_display_address_0',
       'businesses_businesses_3_location_display_address_1',
       'businesses_businesses_3_location_display_address_2',
       'businesses_businesses_3_location_state',
       'businesses_businesses_3_location_zip_code',
       'businesses_businesses_3_name', 
       'businesses_businesses_3_phone',
       'businesses_businesses_3_price', 
       'businesses_businesses_3_rating',
       'businesses_businesses_3_review_count',
       'businesses_businesses_3_transactions_0',
       'businesses_businesses_3_transactions_1',
       'businesses_businesses_3_transactions_2', 
       'businesses_businesses_3_url'
                ]]

Include the result num

In [30]:
Yelp_0['Result_num']=0
Yelp_1['Result_num']=1
Yelp_2['Result_num']=2
Yelp_3['Result_num']=3

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Rename columns (Did this for all 4)

In [34]:
Yelp_3.columns = [['yelp_alias',
       'yelp_categories_0_alias',
       'yelp_categories_0_title',
       'yelp_categories_1_alias',
       'yelp_categories_1_title',
       'yelp_categories_2_alias',
       'yelp_categories_2_title',
       'yelp_coordinates_latitude',
       'yelp_coordinates_longitude',
       'yelp_display_phone',
       'yelp_distance', 
       'yelp_id',
       'yelp_image_url',
       'yelp_is_closed',
       'yelp_location_address1',
       'yelp_location_address2',
       'yelp_location_address3',
       'yelp_location_city',
       'yelp_location_country',
       'yelp_location_display_address_0',
       'yelp_location_display_address_1',
       'yelp_location_display_address_2',
       'yelp_location_state',
       'yelp_location_zip_code',
       'yelp_name', 
       'yelp_phone',
       'yelp_price', 
       'yelp_rating',
       'yelp_review_count',
       'yelp_transactions_0',
       'yelp_transactions_1',
       'yelp_transactions_2', 
       'yelp_url',
       'yelp_result_num'
                ]]

In [35]:
Yelp_top4 = Yelp_0.copy()
type(Yelp_top4)
len(Yelp_top4)

pandas.core.frame.DataFrame

19718

Append datasets

In [36]:
Yelp_top4 = Yelp_top4.append(Yelp_1);
len(Yelp_top4)

39436

In [37]:
Yelp_top4 = Yelp_top4.append(Yelp_2);
len(Yelp_top4)

59154

In [38]:
Yelp_top4 = Yelp_top4.append(Yelp_3);
len(Yelp_top4)

78872

Append those 2 yelp datasets together

In [39]:
Yelp_USE = Yelp1_top4.copy()

In [40]:
len(Yelp_USE)
Yelp_USE = Yelp_USE.append(Yelp_top4)
len(Yelp_USE)

19120

97992

In [41]:
test = Yelp_USE.drop_duplicates(keep = 'first')
len(test)

89746

In [99]:
Yelp_USE.to_csv('Yelp_cleaned.csv')

# Repeat on the re-done dataset

In [42]:
Yelp2 = pd.read_csv('Yelp_data_Try2.csv');

/anaconda3/envs/insight/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (31,33,34,35,36,37,38,39,42,44,45,46,47,48,49,50,51,52,53,54,55,57,59,62,63,64,65,66,67,68,69,70,71,72,75,77,78,79,80,81,82,83,84,85,86,87,88,90,92,95,96,97,98,99,100,101,102,103,104,105,108,110,111,112,113,114,115,116,117,118,119,120,122,124,127,128,129,130,131,132,133,134,135,136,137,140,142,143,144,145,146,147,148,149,150,151,152,153,155,157,160,161,162,163,164,165,166,167,168,169,172,174,175,176,177,178,179,180,181,182,183,184,185,187,189,192,193,194,195,196,197,198,199,200,201,202,205,207,208,209,210,211,212,213,214,215,216,217,218,220,222,225,226,227,228,229,230,231,232,233,234,235,238,240,241,242,243,244,245,246,247,248,249,250,251,253,255,258,259,260,261,262,263,264,265,266,267,270,272,273,274,275,276,277,278,279,280,281,282,283,285,287,290,291,292,293,294,295,296,297,298,299,300,303,305,306,307,308,309,310,311,312,313,314,315,317,319,322,323,324,325,326,327,328,329,330,331,334,336,337,338,339,340,341,342,343,344,345,346,347,349,351,354,355,356,357,373,379,380,390,413,414,424,431,432,441,442,447,455,456,457,464,465,474,475,487,488,489,494,495,496,497,506,507,512,520,521,523,524,525,526,527,528,529,532,534,535,536,537,538,539,540,541,542,543,544,545,547,549,552,553,554,555,556,557,558,559,560,561,564,566,567,568,569,570,571,572,573,574,575,576,577,579,581,584,585,586,587,588,589,590,591,592,593,594,597,599,600,601,602,603,604,605,606,607,608,609,611,613,616,617,618,619,620,621,622,623,624,625,628,630,631,632,633,634,635,636,637,638,639,640,641,643,645,648,649,650,651,652,653) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
Yelp2.head()
len(Yelp2)
Yelp2.dtypes

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_coordinates_latitude,businesses_businesses_0_coordinates_longitude,businesses_businesses_0_display_phone,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.119963,120.664387,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692220,-73.928204,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.703022,-73.894901,0.0
3,sombrero-mexican-restaurant-new-york,mexican,Mexican,NaN,NaN,NaN,NaN,40.76112,-73.987092,(212) 586-4853,...,542.0,pickup,delivery,NaN,https://www.yelp.com/biz/rosa-mexicano-new-yor...,NaN,NaN,40.758635,-73.987856,35.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.758635,-73.987856,0.0

1200

businesses_businesses_0_alias                  object
businesses_businesses_0_categories_0_alias     object
businesses_businesses_0_categories_0_title     object
businesses_businesses_0_categories_1_alias     object
businesses_businesses_0_categories_1_title     object
                                               ...
businesses_error_code                          object
businesses_error_description                   object
businesses_region_center_latitude             float64
businesses_region_center_longitude            float64
businesses_total                              float64
Length: 657, dtype: object

Remove rows where zero businesses were returned

In [44]:
Yelp2 = Yelp2[Yelp2["businesses_total"]!=0.0]
len(Yelp2)

38

Only keep rows without error codes

In [45]:
Yelp2 = Yelp2[Yelp2["businesses_error_code"].isnull()]
len(Yelp2)
Yelp2.head()

37

,businesses_businesses_0_alias,businesses_businesses_0_categories_0_alias,businesses_businesses_0_categories_0_title,businesses_businesses_0_categories_1_alias,businesses_businesses_0_categories_1_title,businesses_businesses_0_categories_2_alias,businesses_businesses_0_categories_2_title,businesses_businesses_0_coordinates_latitude,businesses_businesses_0_coordinates_longitude,businesses_businesses_0_display_phone,...,businesses_businesses_9_review_count,businesses_businesses_9_transactions_0,businesses_businesses_9_transactions_1,businesses_businesses_9_transactions_2,businesses_businesses_9_url,businesses_error_code,businesses_error_description,businesses_region_center_latitude,businesses_region_center_longitude,businesses_total
3,sombrero-mexican-restaurant-new-york,mexican,Mexican,NaN,NaN,NaN,NaN,40.761120,-73.987092,(212) 586-4853,...,542.0,pickup,delivery,NaN,https://www.yelp.com/biz/rosa-mexicano-new-yor...,NaN,NaN,40.758635,-73.987856,35.0
13,miss-korea-bbq-new-york,korean,Korean,bbq,Barbeque,NaN,NaN,40.747452,-73.986336,(212) 736-3232,...,310.0,pickup,delivery,NaN,https://www.yelp.com/biz/hee-korean-bbq-grill-...,NaN,NaN,40.749922,-73.994293,103.0
27,cheeburger-cheeburger-forest-hills-3,burgers,Burgers,hotdogs,Fast Food,NaN,NaN,40.720494,-73.842498,(718) 997-8600,...,1360.0,delivery,NaN,NaN,https://www.yelp.com/biz/shake-shack-new-york-...,NaN,NaN,40.720979,-73.844776,31.0
31,alfonsos-pastry-shoppe-staten-island,bakeries,Bakeries,NaN,NaN,NaN,NaN,40.544688,-74.160489,(718) 984-8011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.544197,-74.174538,9.0
48,trini-delite-jamaica,trinidadian,Trinidadian,NaN,NaN,NaN,NaN,40.684180,-73.831860,(718) 322-1203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688773,-73.824434,6.0

Split up into results #

In [19]:
Yelp2_0 = Yelp2[['businesses_businesses_0_alias',
       'businesses_businesses_0_categories_0_alias',
       'businesses_businesses_0_categories_0_title',
       'businesses_businesses_0_categories_1_alias',
       'businesses_businesses_0_categories_1_title',
       'businesses_businesses_0_categories_2_alias',
       'businesses_businesses_0_categories_2_title',
       'businesses_businesses_0_coordinates_latitude',
       'businesses_businesses_0_coordinates_longitude',
       'businesses_businesses_0_display_phone',
       'businesses_businesses_0_distance', 'businesses_businesses_0_id',
       'businesses_businesses_0_image_url',
       'businesses_businesses_0_is_closed',
       'businesses_businesses_0_location_address1',
       'businesses_businesses_0_location_address2',
       'businesses_businesses_0_location_address3',
       'businesses_businesses_0_location_city',
       'businesses_businesses_0_location_country',
       'businesses_businesses_0_location_display_address_0',
       'businesses_businesses_0_location_display_address_1',
       'businesses_businesses_0_location_display_address_2',
       'businesses_businesses_0_location_state',
       'businesses_businesses_0_location_zip_code',
       'businesses_businesses_0_name', 'businesses_businesses_0_phone',
       'businesses_businesses_0_price', 'businesses_businesses_0_rating',
       'businesses_businesses_0_review_count',
       'businesses_businesses_0_transactions_0',
       'businesses_businesses_0_transactions_1',
       'businesses_businesses_0_transactions_2', 'businesses_businesses_0_url'
                ]]

In [25]:
Yelp2_1 = Yelp2[['businesses_businesses_1_alias',
       'businesses_businesses_1_categories_0_alias',
       'businesses_businesses_1_categories_0_title',
       'businesses_businesses_1_categories_1_alias',
       'businesses_businesses_1_categories_1_title',
       'businesses_businesses_1_categories_2_alias',
       'businesses_businesses_1_categories_2_title',
       'businesses_businesses_1_coordinates_latitude',
       'businesses_businesses_1_coordinates_longitude',
       'businesses_businesses_1_display_phone',
       'businesses_businesses_1_distance', 
       'businesses_businesses_1_id',
       'businesses_businesses_1_image_url',
       'businesses_businesses_1_is_closed',
       'businesses_businesses_1_location_address1',
       'businesses_businesses_1_location_address2',
       'businesses_businesses_1_location_address3',
       'businesses_businesses_1_location_city',
       'businesses_businesses_1_location_country',
       'businesses_businesses_1_location_display_address_0',
       'businesses_businesses_1_location_display_address_1',
       'businesses_businesses_1_location_display_address_2',
       'businesses_businesses_1_location_state',
       'businesses_businesses_1_location_zip_code',
       'businesses_businesses_1_name', 
       'businesses_businesses_1_phone',
       'businesses_businesses_1_price', 
       'businesses_businesses_1_rating',
       'businesses_businesses_1_review_count',
       'businesses_businesses_1_transactions_0',
       'businesses_businesses_1_transactions_1',
       'businesses_businesses_1_transactions_2', 
       'businesses_businesses_1_url'
                ]]

In [24]:
Yelp2_2 = Yelp2[['businesses_businesses_2_alias',
       'businesses_businesses_2_categories_0_alias',
       'businesses_businesses_2_categories_0_title',
       'businesses_businesses_2_categories_1_alias',
       'businesses_businesses_2_categories_1_title',
       'businesses_businesses_2_categories_2_alias',
       'businesses_businesses_2_categories_2_title',
       'businesses_businesses_2_coordinates_latitude',
       'businesses_businesses_2_coordinates_longitude',
       'businesses_businesses_2_display_phone',
       'businesses_businesses_2_distance', 
       'businesses_businesses_2_id',
       'businesses_businesses_2_image_url',
       'businesses_businesses_2_is_closed',
       'businesses_businesses_2_location_address1',
       'businesses_businesses_2_location_address2',
       'businesses_businesses_2_location_address3',
       'businesses_businesses_2_location_city',
       'businesses_businesses_2_location_country',
       'businesses_businesses_2_location_display_address_0',
       'businesses_businesses_2_location_display_address_1',
       'businesses_businesses_2_location_display_address_2',
       'businesses_businesses_2_location_state',
       'businesses_businesses_2_location_zip_code',
       'businesses_businesses_2_name', 
       'businesses_businesses_2_phone',
       'businesses_businesses_2_price', 
       'businesses_businesses_2_rating',
       'businesses_businesses_2_review_count',
       'businesses_businesses_2_transactions_0',
       'businesses_businesses_2_transactions_1',
       'businesses_businesses_2_transactions_2', 
       'businesses_businesses_2_url'
                ]]

In [23]:
Yelp2_3 = Yelp2[['businesses_businesses_3_alias',
       'businesses_businesses_3_categories_0_alias',
       'businesses_businesses_3_categories_0_title',
       'businesses_businesses_3_categories_1_alias',
       'businesses_businesses_3_categories_1_title',
       'businesses_businesses_3_categories_2_alias',
       'businesses_businesses_3_categories_2_title',
       'businesses_businesses_3_coordinates_latitude',
       'businesses_businesses_3_coordinates_longitude',
       'businesses_businesses_3_display_phone',
       'businesses_businesses_3_distance', 
       'businesses_businesses_3_id',
       'businesses_businesses_3_image_url',
       'businesses_businesses_3_is_closed',
       'businesses_businesses_3_location_address1',
       'businesses_businesses_3_location_address2',
       'businesses_businesses_3_location_address3',
       'businesses_businesses_3_location_city',
       'businesses_businesses_3_location_country',
       'businesses_businesses_3_location_display_address_0',
       'businesses_businesses_3_location_display_address_1',
       'businesses_businesses_3_location_display_address_2',
       'businesses_businesses_3_location_state',
       'businesses_businesses_3_location_zip_code',
       'businesses_businesses_3_name', 
       'businesses_businesses_3_phone',
       'businesses_businesses_3_price', 
       'businesses_businesses_3_rating',
       'businesses_businesses_3_review_count',
       'businesses_businesses_3_transactions_0',
       'businesses_businesses_3_transactions_1',
       'businesses_businesses_3_transactions_2', 
       'businesses_businesses_3_url'
                ]]

Include the result num

In [26]:
Yelp2_0['Result_num']=0
Yelp2_1['Result_num']=1
Yelp2_2['Result_num']=2
Yelp2_3['Result_num']=3

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/envs/insight/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Rename columns (Did this for all 4)

In [30]:
Yelp2_0.columns = [['yelp_alias',
       'yelp_categories_0_alias',
       'yelp_categories_0_title',
       'yelp_categories_1_alias',
       'yelp_categories_1_title',
       'yelp_categories_2_alias',
       'yelp_categories_2_title',
       'yelp_coordinates_latitude',
       'yelp_coordinates_longitude',
       'yelp_display_phone',
       'yelp_distance', 
       'yelp_id',
       'yelp_image_url',
       'yelp_is_closed',
       'yelp_location_address1',
       'yelp_location_address2',
       'yelp_location_address3',
       'yelp_location_city',
       'yelp_location_country',
       'yelp_location_display_address_0',
       'yelp_location_display_address_1',
       'yelp_location_display_address_2',
       'yelp_location_state',
       'yelp_location_zip_code',
       'yelp_name', 
       'yelp_phone',
       'yelp_price', 
       'yelp_rating',
       'yelp_review_count',
       'yelp_transactions_0',
       'yelp_transactions_1',
       'yelp_transactions_2', 
       'yelp_url',
       'yelp_result_num'
                ]]

In [31]:
Yelp2_top4 = Yelp2_0.copy()
type(Yelp2_top4)
len(Yelp2_top4)

pandas.core.frame.DataFrame

37

Append datasets

In [32]:
Yelp2_top4 = Yelp2_top4.append(Yelp2_1);
len(Yelp2_top4)

74

In [33]:
Yelp2_top4 = Yelp2_top4.append(Yelp2_2);
len(Yelp2_top4)

111

In [34]:
Yelp2_top4 = Yelp2_top4.append(Yelp2_3);
len(Yelp2_top4)

148

In [39]:
Yelp2_top4['yelp_location_display_address_3']= 0

In [40]:
Yelp2_top4 = Yelp2_top4[['yelp_alias',
       'yelp_categories_0_alias',
       'yelp_categories_0_title',
       'yelp_categories_1_alias',
       'yelp_categories_1_title',
       'yelp_categories_2_alias',
       'yelp_categories_2_title',
       'yelp_coordinates_latitude',
       'yelp_coordinates_longitude',
       'yelp_display_phone',
       'yelp_distance', 
       'yelp_id',
       'yelp_image_url',
       'yelp_is_closed',
       'yelp_location_address1',
       'yelp_location_address2',
       'yelp_location_address3',
       'yelp_location_city',
       'yelp_location_country',
       'yelp_location_display_address_0',
       'yelp_location_display_address_1',
       'yelp_location_display_address_2',
       'yelp_location_display_address_3',
       'yelp_location_state',
       'yelp_location_zip_code',
       'yelp_name', 
       'yelp_phone',
       'yelp_price', 
       'yelp_rating',
       'yelp_review_count',
       'yelp_transactions_0',
       'yelp_transactions_1',
       'yelp_transactions_2', 
       'yelp_url',
       'yelp_result_num'
                ]]

In [44]:
cd processed

/Users/rabarry/Documents/Insight/NYC data/SafeEats/data/processed

In [109]:
Yelp_USE.head(n=2)

,yelp_alias,yelp_categories_0_alias,yelp_categories_0_title,yelp_categories_1_alias,yelp_categories_1_title,yelp_categories_2_alias,yelp_categories_2_title,yelp_coordinates_latitude,yelp_coordinates_longitude,yelp_display_phone,...,yelp_name,yelp_phone,yelp_price,yelp_rating,yelp_review_count,yelp_transactions_0,yelp_transactions_1,yelp_transactions_2,yelp_url,yelp_result_num
0,brooklyn-sweet-spot-brooklyn-2,bakeries,Bakeries,desserts,Desserts,cupcakes,Cupcakes,40.693,-73.9715,(347) 916-0494,...,Brooklyn Sweet Spot,1.347916e+10,$$,4.0,76.0,pickup,NaN,NaN,https://www.yelp.com/biz/brooklyn-sweet-spot-b...,0
2,kingsbridge-donut-shop-bronx,donuts,Donuts,breakfast_brunch,Breakfast & Brunch,NaN,NaN,40.8798,-73.9062,(347) 346-4171,...,Kingsbridge Donut Shop,1.347346e+10,$,4.0,19.0,delivery,pickup,NaN,https://www.yelp.com/biz/kingsbridge-donut-sho...,0

In [117]:
Yelp2_top4.head(n=2)

,yelp_alias,yelp_categories_0_alias,yelp_categories_0_title,yelp_categories_1_alias,yelp_categories_1_title,yelp_categories_2_alias,yelp_categories_2_title,yelp_coordinates_latitude,yelp_coordinates_longitude,yelp_display_phone,...,yelp_name,yelp_phone,yelp_price,yelp_rating,yelp_review_count,yelp_transactions_0,yelp_transactions_1,yelp_transactions_2,yelp_url,yelp_result_num
3,sombrero-mexican-restaurant-new-york,mexican,Mexican,NaN,NaN,NaN,NaN,40.761120,-73.987092,(212) 586-4853,...,Sombrero Mexican Restaurant,1.212586e+10,$$,2.5,323.0,pickup,delivery,NaN,https://www.yelp.com/biz/sombrero-mexican-rest...,0
13,miss-korea-bbq-new-york,korean,Korean,bbq,Barbeque,NaN,NaN,40.747452,-73.986336,(212) 736-3232,...,Miss KOREA BBQ,1.212736e+10,$$,3.5,1681.0,delivery,pickup,restaurant_reservation,https://www.yelp.com/biz/miss-korea-bbq-new-yo...,0

In [121]:
#Yelp_USE['yelp_coordinates_latitude'] = Yelp_USE['yelp_coordinates_latitude'].astype('float64')
#Yelp_USE['yelp_coordinates_longitude'] = Yelp_USE['yelp_coordinates_longitude'].astype('float64')
Yelp_USE.dtypes
Yelp2_top4.dtypes

yelp_alias                          object
yelp_categories_0_alias             object
yelp_categories_0_title             object
yelp_categories_1_alias             object
yelp_categories_1_title             object
yelp_categories_2_alias             object
yelp_categories_2_title             object
yelp_coordinates_latitude           object
yelp_coordinates_longitude          object
yelp_display_phone                  object
yelp_distance                      float64
yelp_id                             object
yelp_image_url                      object
yelp_is_closed                      object
yelp_location_address1              object
yelp_location_address2              object
yelp_location_address3              object
yelp_location_city                  object
yelp_location_country               object
yelp_location_display_address_0     object
yelp_location_display_address_1     object
yelp_location_display_address_2     object
yelp_location_state                 object
yelp_location_zip_code             float64
yelp_name                           object
yelp_phone                         float64
yelp_price                          object
yelp_rating                        float64
yelp_review_count                  float64
yelp_transactions_0                 object
yelp_transactions_1                 object
yelp_transactions_2                 object
yelp_url                            object
yelp_result_num                      int64
dtype: object

yelp_alias                          object
yelp_categories_0_alias             object
yelp_categories_0_title             object
yelp_categories_1_alias             object
yelp_categories_1_title             object
yelp_categories_2_alias             object
yelp_categories_2_title             object
yelp_coordinates_latitude          float64
yelp_coordinates_longitude         float64
yelp_display_phone                  object
yelp_distance                      float64
yelp_id                             object
yelp_image_url                      object
yelp_is_closed                      object
yelp_location_address1              object
yelp_location_address2              object
yelp_location_address3              object
yelp_location_city                  object
yelp_location_country               object
yelp_location_display_address_0     object
yelp_location_display_address_1     object
yelp_location_display_address_2     object
yelp_location_state                 object
yelp_location_zip_code             float64
yelp_name                           object
yelp_phone                         float64
yelp_price                          object
yelp_rating                        float64
yelp_review_count                  float64
yelp_transactions_0                 object
yelp_transactions_1                 object
yelp_transactions_2                 object
yelp_url                            object
yelp_result_num                      int64
dtype: object

In [118]:
len(Yelp_USE)
Yelp_USE = Yelp_done.append(Yelp2_top4)
len(Yelp_USE)

97992

TypeError: Expected tuple, got str

In [122]:
pwd

'/Users/rabarry/Documents/Insight/NYC data/SafeEats/data/raw data'

In [123]:
cd ..

/Users/rabarry/Documents/Insight/NYC data/SafeEats/data

In [124]:
cd processed

/Users/rabarry/Documents/Insight/NYC data/SafeEats/data/processed

In [125]:
Yelp2_top4.to_csv('Yelp_cleaned_2.csv')